SECRET_KEY="django-insecure-ol#sw)4lv0=$^uonzf&oy-)_jlwtivi4c6magn2r5$yv^c1_n8"



DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

CELERY_BROKER=
CELERY_RESULT_BACKEND=

TG_TOKEN=